@import "variables";

@import './relatedproducts.scss';

// Font Specification
html, body, section, div, h1, h2, h3, h4, h5, h6, a, nav, span, button, input, textarea {
  font-family: Montserrat, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.display-component {
  display: grid;
  place-items: center;
  padding: 5em;
  height: calc(100vh - 10em);
  background: $blue-grey-100;
}
