// Screen Width
$largeTablet: 1200px;
$smallTablet: 992px;
$phone: 600px;

// Colour
$white: #fdfdfd;
$green: #68C143;
$grey: 	#808080;
$red: #df1417;
$black: #171717;


$grey-100: #f0f0f0;

$red-100: #fccfd0;

$blue-grey-100: #E7ECEC;

$green-500: $green;
$green-800: #3f7727;